h1 Gracias por ayudar
p Estaremos informando cuando será el sorteo.
p recuerda que Camila estará en contacto contigo para agradecer y comentar que tu recibo esta ok.

= link_to raffles_path, class: 'btn btn-primary' do
  h2 volver a la lista